{%extends 'base.html'%}
{%block content%}
    <!-- Блок с кнопками -->
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-body text-center bg-primary-subtle">
            <h3>Добро пожаловать в ваш личный TODO-лист!</h3>
            <p class="lead">Вот его возможности:</p>
            <div class="d-flex justify-content-center">
              <p>
                <dl class="row">
                    <dt class="col-sm-3">Аккаунт</dt>
                <dd class="col-sm-9">Твоё личное пространство для оформления. Можно поставить имя и фото</dd>
                   <dt class="col-sm-3">Таски</dt>
                <dd class="col-sm-9">Собственно то зачем вы сюда и пришли, где сможете распланировать свои ежедневные дела.</dd>
              <dt class="col-sm-3">Поддержка</dt>
              <dd class="col-sm-9">Если у вас возникнут какие-либо проблемы с сайтом вы сможете обратиться к нам за помощью</dd>

            </dl>




              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Дополнительная информация или ссылки (если нужно) -->
    <div class="row justify-content-center">
      <div class="col-md-8 text-center ">
        <p>Давайте уже поскорее начнём!</p>
      </div>
    </div>
  </div>

{%endblock%}
