{%extends 'base.html'%}

{%block content%}
  <div class="container mt-5">
    <h1 class="mb-4">TODO-лист</h1>

    <!-- Форма для добавления задачи -->
    {% if user.is_authenticated%}
    <form action="" method='post'>
      {%else%}
      <form>
        {%endif%}
      {%csrf_token%}
      <div class="mb-3">
        <label for="form.title.id_for_label" class="form-label">{{form.title.label}}</label>
        <p>{{form.title}} </p>
        <div class="form-error">{{form.title.errors}}</div>
<!--      <input type="text" class="form-control" id="taskTitle" placeholder="Введите заголовок задачи">-->
      </div>
      <div class="mb-3">
        <label for="form.description.id_for_label" class="form-label">{{form.description.label}}</label>
        <p>{{form.description}} </p>
     <!--   <textarea class="form-control" id="taskDescription" rows="3" placeholder="Введите описание задачи"></textarea> -->
      </div>
      {% if user.is_authenticated%}
      <button type="submit" class="btn btn-primary">Добавить задачу</button>
      {%else%}
      <button  class="btn btn-primary">Для начала авторизуйтесь</button>
      {%endif%}
    </form>

    <!-- Список задач -->
    <div class="mt-4">
      <h3>Ваши задачи:</h3>
      <ul class="list-group">
        {% for p in posts%}
        <!-- Задача -->
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <h5>{{p.title}}</h5>
            <p>{{p.description}}</p>
          </div>
          <div>
            {%if p.completed%}

            <a href="{%url 'cancel-update' p.title %}" ><button class="btn btn-secondary btn-sm">Выполнено</button></a>
            {%else%}
            <a href="{%url 'update' p.title %}" ><button class="btn btn-success btn-sm">Выполнить</button></a>
            {%endif%}
            <a href="{%url 'delete' p.title %}" ><button type="submit" class="btn btn-danger btn-sm" >Удалить</button></a>
          </div>
        </li>
        {%empty%}
        <h4>Покачто не было запланировано не одной задачи</h4>
        {%endfor %}
        <!-- Задача -->
      </ul>
    </div>
  </div>
{%endblock%}